{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Class Materials{% endblock %}

{% block extrahead %}
  <link type="text/css" href="{{STATIC_URL}}js/jquery-ui/css/smoothness/jquery-ui-1.8.8.css" rel="Stylesheet" />
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui/js/jquery-ui-1.8.17.custom.min.js"></script>
{% endblock extrahead %}


{% block content %}

<script>
    function loadPop(url) {
        // Loads task and event displays into jquery-ui popover dialog
        $('#materials-pop').load(url);
        $('#materials-pop').dialog('open'); 
    }

</script>

<h1>Materials</h1>
<h2>{{offering}}</h2>
<h3>{{offering.semester}}</h3>

{% if materials.count > 0 %}
    <p>Things you'll need for this class:</p>
    {% for m in materials  %}
        <p class="shortblock">
            <strong>{{m}}</strong> <br>
            <a href="{% url offering_material_detail m.id %}" onclick="loadPop(this.href);return false;" class="button small blue" style="margin-top:10px;">Details</a> 
        </p>
    {% endfor %}

{% else %}    
    <p>No materials required for this class (or they have not yet been entered into CalCentral).</p>
{% endif %}

{# Container for popups #}
<div id="materials-pop" style="display:none;"></div>

<script type="text/javascript">
$(document).ready(function() {
    $("#materials-pop").dialog({
        autoOpen: false, 
        bgiframe: true, 
        height: 500, width: 650, 
        modal: false,
        buttons: {
                    "Done reading": function() {
                        $( this ).dialog( "close" );
                    }
                }
        });
});
</script>
{% endblock content %}